.page-content {
  max-width: 1440px;
  margin: auto;
}
.quiz-title {
  text-align:center;
}
.card-parent {
  display: inline-block;
}
.card {
  margin: 20px;
}
.button-valider {
  margin-bottom: 20px;
}
.cart-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
